/* ------------------------------------------------------ */
/* - Gallery carousel - large image --------------------- */
/* ------------------------------------------------------ */
.gallery-carousel {
  background-color: #CCCCBB;
  margin-bottom: 10px;
  position: relative;
  width:602px;
}

#gallery-large-image {
  height: 352px;
  overflow: hidden;
  position: relative;
  width: 602px;
}
#gallery-large-image table {
  height: 100%;
  margin: 0;
  width: 100%;
}
#gallery-large-image table td {
  font-size: 0;
  padding: 0;
  text-align: center;
}
#gallery-large-image img {
  max-height: 350px;
  max-width: 600px;
  padding:1px;
}
a.gallery_hover {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  font-size: 0;
  height: 350px;
  left: 1px;
  opacity: 0;
  position: absolute;
  top: 1px;
  width: 300px;
}
a.gallery_hover:hover {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
a.gallery_hover_next {
  left: 301px;
  width: 300px;
}
a.gallery_hover div {
  background: transparent url("./Graphics/slideshow_sprite.gif") no-repeat 0 0;
  height: 60px;
}
a.gallery_hover div.anchor-fill { /* required so that whole anchor is clickable in IE */
  background-position: -5000px 0;
  height: 145px;
}
a.gallery_hover_prev div {
  background-position: 0 0;
}
a.gallery_hover_next div {
  background-position: 260px -60px;
}
#gallery-large-image a.arrow-inactive {
  height: 0;
  overflow: hidden;
  width: 0;
}

/* ------------------------------------------------------ */
/* - Gallery carousel - thumbnails ---------------------- */
/* ------------------------------------------------------ */
#gallery-thumbnails {
  margin:10px 0;
  position: relative;
}
#thumbnail-slider {
  position:relative;
}
.gallery-thumbs {
  background-color: transparent;
  font-size: 0;
  height: 49px;
  left: 26px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width:360px;
}
.gallery-thumbs a {
  display:block;
  float: left;
  position: relative;
}
.gallery-thumbs a img {
   border:2px solid #5A5A5A;
   height:45px;
   margin:0 1px;
   width:66px;
}
.gallery-thumbs a img:hover  {
  border: 2px solid #AAAAAA;
}
.gallery-thumbs a.selected-image img {
  border: 2px solid #DDDDDD;
}

.zoom-icon {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}
.zoom-icon img {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
img.scroll-arrow {
  cursor: pointer;
  left: 6px;
  position: absolute;
  top: 9px;
}
#ffw-link {
  left: 392px;
}
#gallery-thumbnails img.scroll-arrow:hover {
  filter: alpha(opacity=80);
  opacity: 0.7;
}
#gallery-thumbnails img.arrow-inactive,
#gallery-thumbnails img.arrow-inactive:hover {
  cursor: auto;
  filter: alpha(opacity=20);
  opacity: 0.2;
}
#scroll-worded {
    height: 58px;
    left: 430px;
    position: absolute;
    top: 0;
    width: 160px;
}
a.scroll-text {
  background: transparent url("./Graphics/previous-next-buttons.png") no-repeat 0 0;
  display: block;
  height: 38px;
  position: absolute;
  top: 0;
  width: 79px;
}
#rew-link-2 {
  left: 0;
}
#rew-link-2:hover {
  background-position: -79px 0;
}
#rew-link-2.arrow-inactive {
  background-position: -158px 0;
  cursor: default;
  left: 0;
}
#ffw-link-2 {
  background-position: 0 -38px;
  right: 0;
}
#ffw-link-2:hover {
  background-position: -79px -38px;
}
#ffw-link-2.arrow-inactive {
  background-position: -158px -38px;
  cursor: default;
}
#scroll-text-info {
    font-size: 0.9em;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 150px;
}

/* ------------------------------------------------------ */
/* - Gallery carousel - caption, title ------------------ */
/* ------------------------------------------------------ */
#gallery-image-info {
  background-color: #212121;
  height: auto;
  padding: 6px;
  position: relative;
}
#gallery-image-info h3 {
  color: #DDD;
  font-weight: bold;
  margin-top: 0;
  width: 430px;
}
#gallery-image-mod-date {
  bottom: 4px;
  color: gray;
  font-size: 90%;
  line-height: 1;
  position: absolute;
  right: 5px;
}
#thumbnail-descriptions,
#thumbnail-dates {
  display: none;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}