@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lindenwald Technology Solutions is the primary consoluting company operated by Chris Harrison.
    We specialized in creative thought and providing the best solution for your investment. We love what we do and
    you will undoubtedly be impressed by our enthusiasm to make technology work for you!</p>
