@{
    ViewBag.Title = "Funn Learning Projects";
}

<p>
    These are some of my fun projects i do to spend my time learning.
</p>


<a href="~/WOW/GetRaces.html">Project to Retrieve World of Warcraft JSON feeds</a>

