@{
    ViewBag.Title = "Lindenwald Technology Solutions";
}

<!--<link href="~/content/impress-pl.css" rel="stylesheet" />-->
<table>
    <tr>
        <td>
            <div class="jumbotron" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
                <h1>Lindenwald Technology Solutions</h1>
                <p class="lead">
                    <list>
                        <li>IT Engineering with experience directing and building large-scale infrastructures.</li>
                        <li>Oversee multi-phase, complex, high profile, project built-outs dealing with stringent government and contractual agreements</li>
                        <li>Excel in collaborating with fellow project engineers, directors, and project management to drive project tasks to completion, meet deadlines, and exceed design expectations.</li>
                    </list>

                </p>
                <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more about the technology this site was built on. We love it! &raquo;</a></p>
            </div>
    </td>
        <td>
            <a class="twitter-timeline" width="300" height="500" href="https://twitter.com/virtualninjach" data-widget-id="488888662956859394">Tweets by @@virtualninjach</a>
        </td>
        </tr>
</table>
<div class="row" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>



