@{
    ViewBag.Title = "Lindenwald Technology Solutions";
}

<meta name="application-name" content="Lindenwald Technology Solutions" />
<meta name="msapplication-TileColor" content="#0e65ad" />
<table>
    <tr>
        <td>
    <div class="heading">
        <h1>Lindenwald Technology Solutions</h1>
        <p class="lead">
            <ul>
                <li>IT Engineering with experience directing and building large-scale infrastructures.</li>
                <li>Oversee multi-phase, complex, high profile, project built-outs dealing with stringent government and contractual agreements</li>
                <li>Excel in collaborating with fellow project engineers, directors, and project management to drive project tasks to completion, meet deadlines, and exceed design expectations.</li>
            </ul>

        </p>
        <p>
         
        <a href="http://lwaldtech.com/blogengine" class="btn btn-primary btn-large">Visit the Lindenwald Technology Solutions Blog &raquo;</a>
            </p>
    </div>
    </td>
        <td>
            <a class="twitter-timeline" width="150" height="350" href="https://twitter.com/virtualninjach" data-widget-id="488888662956859394">Tweets by @@virtualninjach</a>
        </td>
        </tr>
</table>
