@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Test";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.TextBox("UserName", User.Identity.GetUserName())
    </div>
</body>
</html>
